*{
      padding: 0px;margin: 0px;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;
      
}
.container h1{
      font-size: 60px;font-weight: bold; color: black;    
}
.main{
     width: 100%;height:80vh;
}
video{
      width: 100%;height: 90%;object-fit: cover;
}
.con nav{
      padding-top: 30px;position: fixed;padding-left: 220px;
}
.con nav a{
      margin:0 60px;text-decoration: none;color: white; font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.con nav a:hover{
      color: deepskyblue;
}
.con nav a.active{
      font-weight: bolder;color:deepskyblue;
}

.content{
      position: absolute;width:100%;height: 100%;top: 0;text-align: center;color: white;
}

.button{
      color: white;
}
span{
      font-size: 28px;padding-right: 100px;color: white;font-weight: bold;
}

.pub {
      text-align: center;font-size: 25px;color: rgb(14, 14, 77);background-color: white;padding-bottom: 20px;
}
.images{
      display: flex;flex-wrap: wrap;justify-content: space-around;padding-top: 30px;gap: 0px; padding-left: 150px;padding-right: 200px;background-color: white;
}
.img1 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;position: relative;
      }
.img1-p{
      position: absolute;left: 250px;top:1100px;color: blueviolet;
}

.img1:hover{
      background-color:red;
 }
 .img2:hover{
      background-color:red;
 }
 .img3:hover{
      background-color:red;
 }
 .img4:hover{
      background-color:red;
 }
 .img5:hover{
      background-color:red;
 }
 .img6:hover{
      background-color:red;
 }
 .img7:hover{
      background-color:red;
 }
 .img8:hover{
      background-color:red;
 }

.img2 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img3 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img4 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img5 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img6 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img7 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}
.img8 img{
      height: 300px;width: 300px;margin-left: 66px;margin-bottom: 10px;
}


.img1 h4{
      position: absolute;width:23%;height: 0%;top: 900px;text-align: center;color: rgb(128, 0, 0);font-size: 20px;padding-top: 150px;background-color: rgba(0,0,0,0,75);
}
.child{
      padding: 70px 0;font-size: 25px;color: rgb(14, 14, 77);text-align: center;
}
.points-a{
      color:black;display: flex;text-align: center;
}
.points-b{
      color:black;display: flex;text-align: center;
}

.point1 ,.point2,.point3, .point4, .point5, .point6, .point7, .point8, h3{ 
      padding-top: 160px;letter-spacing: 3px;
}
.point1 ,.point2,.point3, .point4, .point5, .point6, .point7, .point8, p{
      padding-top: 20px;letter-spacing: 0px;font-size: 18px; 
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.point1 h3{
      color:brown;
}

.point4 h3{
      color:darkgreen;
}
.point6 h3{
      color: brown;
}
.point5 h3{
      color: black;
}
.point8 h3{
      color: maroon;
}

.point1{
      background-color:#B2C8DF ;width:500px;height: 500px;
}
.point2{
      background-color: black;width:500px;height: 500px;color: white;justify-content: center;
}
.point3{
      background-color:grey;width:500px;height: 500px;color: white;
}
.point4{
      background-color: #FDF7E4;width:500px;height: 500px;color:black;
}
.point5{
      background-color: #FFE5E2;width:500px;height:500px;
}
.point6{
      background-color:silver;width:500px;height: 500px;
}
.point7{
      background-color:whitesmoke; width:500px;height: 500px;
}
.point8{
      background-color:#D2E3C8;width:500px;
}

.about{
     display: flex;text-align: justify;width: 100%;height: 600px;color: black;
}

.para h1{
      text-align: center;font-size: 45px;color: rgb(14, 14, 77);padding-bottom: 20px;
      
}
.para{
      padding-top: 40px;padding-left:  200px;padding-right: 200px;
}
.para p{
      font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;opacity: 0.9;
}
.video4{
      width:6300px;height: 667px;
}

.data{
      display: flex;background-color:rgb(236, 188, 66);height: 250px;justify-content: space-between;text-align: center;padding: 0 500px;
}
.data .year1{
      padding-top: 60px;
}
.data .year1 h1{
      font-size: 60px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(7, 75, 7);
}
.data .year1 p{
      font-size: 25px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(7, 75, 7);
}

.abt-1 img{
      width: 100%;height: 700px; object-fit: cover;object-position: top;background-attachment: fixed;
}

.abt-1 h1{
      color: rgb(241, 241, 47);position: absolute;top: 350px;left:850px;text-align: center;
}

.abt-2 {
      color: black;background-color:#d4b209cc;padding:0 450px;padding-top: 70px;padding-bottom: 100px;
}
.abt-2 h1{
      color: rgb(14, 14, 77);font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding-bottom: 5px;font-size: 50px;
}

.abt-3{
      display: flex;flex-wrap: nowrap;color: black;padding: 130px 0 150px 0;
}
.abt-3a h4{
      font-size: 20px;color: rgb(14, 14, 77);
}
.abt-3a p{
      padding: 30px 80px;
}
.abt-3b h4{
      font-size: 20px;color: rgb(14, 14, 77);
}
.abt-3b p{
      padding: 30px 80px;
}
.abt-4{
      display: flex;
}

.abt-4{
      background-color:ghostwhite;height: 550px;
}
.abt-4a img{
      width: 1000px;height: 550px;
}
.abt-4b{
      background-color:#F6C90E;border-radius: 20px;margin:60px 0px;margin-left: 120px;  width: 500px;color: black;
}
.abt-4b h2{
      color: rgb(14, 14, 77); padding-top: 40px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abt-4b p{
      padding: 20px 30px;
}

.cont-1 img{
      width: 100%;height: 80vh;object-fit: cover;
}
.cont-1 h1{
      color:rgb(14, 14, 77);position: absolute;top:50%;left:50%;font-size: 40px;
}
.cont-2{
      color: black;display: flex;width:1582px;height: 500px;text-align: left;
     padding-top: 50px;padding-bottom: 550px;
}
.cont-2a{
      padding-top: 25px;padding-left: 250px;
}
.cont-2a h4{
      font-size: 25px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
.cont-2a p{
      padding-bottom: 30px;
}
.cont-2b h2{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont-2b{
      background-color: white;width: 50%;height: 50%;display:  flex;flex-wrap: wrap;flex-direction: row;padding-left: 500px;    
}
.cont-2b form{
      background-color: #F6C90E;padding-left: 10px;padding-top: 10px;color: rgb(27, 27, 27);
}
.cont-2b table{
      padding: 50px; background-color: #F6C90E;text-align: left;border-spacing: 20px;
}

.cont-2b input{
       font-size: 20px;border-top:none;border-right: none;border-left: none;
      background-color: transparent;color: black;border-bottom: 2px solid black;margin-bottom: 10px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont-2b textarea{
      font-size: 15px;background-color: transparent;margin-bottom: 20px;
}
.cont-2b button{
      width:100px;height: 40px;background-color:black;color: #F6C90E;border: none;font-size: 15px;font-weight: bold;
}
.cont-2b button:hover{
      background-color: #F6C90E;color: black;
}
.cont-5{
      background-color:#FFF6F6;
}
.cont-55{
      display: flex;justify-content: space-between;padding: 30px 550px;
}

.cont-5a input{
      font-size: 15px;text-align: center; background-color: transparent;color: black;border:2px solid black;height:40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont-5a button{
      width:100px;height: 42px;background-color:black;color: #FFF6F6;border: none;font-size: 15px;font-weight: bold;
}

.cont-5a button:hover{
      background-color: rgb(14, 14, 77);color: white;
}

.cont-5b h1{
      color: black;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.map{
      padding: 30px 150px;border-left: none;
}

.add{
      padding-top: 30px;padding-left: 50px;display: flex;padding-bottom: 40px;
    }
    .add-2{
      padding-left: 110px;padding-top: 30px;
    }
    .add-1 h2{
      color:rgb(14, 14, 77) ;padding-bottom: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .add-2 h4{
      font-size: 25px;text-align: left;color:rgb(14, 14, 77) ;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .add-2 p{
      padding-bottom: 30px;text-align: left;color: black;
    }
    .add-1{
     width: 50%;height: 50%;display:  flex;flex-wrap: wrap;flex-direction: row;padding-left: 430px;
      
    }
    
    .add-1 table{
      padding: 50px; background-color:white;text-align: left;border-spacing: 20px;color: black;
    }
    
    .add-1 input{
       font-size: 20px;border-top:none;border-right: none;border-left: none;
      background-color: transparent;color: black;border-bottom: 2px solid black;margin-bottom: 10px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .add-1 textarea{
      font-size: 15px;background-color: transparent;margin-bottom: 20px;
    }
    .add-1 button{
      width:100px;height: 40px;background-color:black;color: white;border: none;font-size: 15px;font-weight: bold;
    }
    .add-1 button:hover{
      background-color:rgb(14, 14, 77);color:#FFF6F6;
    }
.container-projects{
      color: #CDF5FD;
    }
.proj-1{
      width:100%;
    }
.proj-2{
      background-color: white;width: 80%;height: 80%; position: absolute; top:150px;left:180px;
    }
.proj-2 h1{
      padding-top: 80px;color:rgb(14, 14, 77) ;font-size: 40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
 .proj-2a nav a{
      text-decoration: none; font-size: 40px;font-weight: bold;margin: 0 30px;color:rgb(14, 14, 77);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

.proj-2a nav a:hover{
      color: maroon;
}

.proj-2a nav a:active{
      color:darkcyan;
}
.proj-2a nav{
      padding-top: 100px;
    }
.log h1 {
      margin-bottom: 30px;color: black;font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.log label{
     margin-right: 10px;font-size: 20px; color: black;font-weight: bold; 
    }
.log input{
      background-color: transparent;height: 30px;width: 200px;
    }
.log button{
      height: 30px;width: 310px;margin-top: 20px;text-align: center; border:none;border-radius: 5px;background-color: black;color: white;
    }

.log-img img{
      width: 100%;height: 100vh; object-fit: cover;object-position: top;
    }
.log-a{
      background-color: #F9F5F6;position: absolute;top: 300px;left:650px;border-radius: 20px;height: 300px;width: 600px;padding-top: 50px;
    }
.featured{
      position: absolute;top:500px;left:700px;color:rgb(14, 14, 77);font-size: 30px;font-weight: bold;
}
.featured li{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.new{
      position: absolute;top:500px;left:1050px;color:rgb(14, 14, 77);font-size: 30px;font-weight: bold;
}

.new li{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont-h1 h1{
      font-size: 35px;
}